<%= form_for [:admin, @service], :html => {:class => "form-horizontal", :role=>"form"} do |f| %>							
	<% if @service.errors.any? %>
		<div id="error_explanation" class="alert alert-danger">
			<h4 style="margin-bottom:0px;"><%= pluralize(@service.errors.count, "error") %> prohibited the service record to be saved!</h4>											      
		</div>
	<% end %>
		<div class="form-group">									
		  	<%= f.label :name, :class=>"col-sm-2 control-label" %>								  	
		  	<div class="col-sm-10">			    
		    	<%= f.text_field :name,  :class=>'form-control', :placeholder=>"New service name" %>
		    	<% if @service.errors[:name].present? %>
					<span class="help-block"><%=:name.to_s.humanize  + ' ' +  @service.errors[:name].join(", ")%></span>
				<% end %> 
		    </div>
		</div>  
		<div class="form-group">
		  	<%= f.label :description, :class=>"col-sm-2 control-label" %>
		  	<div class="col-sm-10">			    
		    	<%= f.text_area :description,  :class=>'form-control', :rows=>"3", :placeholder=>"Description" %>
		    	<% if @service.errors[:description].present? %>
					<span class="help-block"><%=:description.to_s.humanize  + ' ' +  @service.errors[:description].join(", ")%></span>
				<% end %>
		    </div>
		</div> 			
						
		<div class="form-group">
			<label class="col-sm-2 control-label">Status</label>
			<div class="col-sm-10">
				<div class="radio-inline">
					  <label>
						<input type="radio" name="statusRadioGroup" id="optionsRadios1" value="option1" checked>
						Active
					  </label>
					</div>
					<div class="radio-inline">
					  <label>
						<input type="radio" name="statusRadioGroup" id="optionsRadios2" value="option2">
						Inactive (cannot be booked)
					  </label>
					</div>
			</div>
		</div>
		<div class="form-group">
		  	<%= f.label :duration, :class=>"col-sm-2 control-label" %>
		  	<div class="col-sm-3">			    
		    	<%= f.text_field :duration,  :class=>'form-control' %>
		    	<% if @service.errors[:duration].present? %>
					<span class="help-block"><%=:duration.to_s.humanize  + ' ' +  @service.errors[:duration].join(", ")%></span>
				<% end %>
		    </div>
		</div> 
		<div class="form-group">
		  	<%= f.label :price, :class=>"col-sm-2 control-label" %>
		  	<div class="col-sm-3">			    
		    	<%= f.text_field :price,  :class=>'form-control' %>
		    	<% if @service.errors[:price].present? %>
					<span class="help-block"><%=:price.to_s.humanize  + ' ' +  @service.errors[:price].join(", ")%></span>
				<% end %>
		    </div>
		</div>				
		<div class="form-group">
			<label class="col-sm-2 control-label">Booking</label>
			<div class="col-sm-10">
				<div class="radio-inline">
					  <label>
						<input type="radio" name="bookingRadio" id="optionsRadios1" value="option1" checked>
						Online
					  </label>
					</div>
					<div class="radio-inline">
					  <label>
						<input type="radio" name="bookingRadio" id="optionsRadios2" value="option2">
						Staff only
					  </label>
					</div>
			</div>
		</div>		
		<div class="form-group">									
	  	<label class="col-sm-2 control-label">Staff assigned</label>								  	
	  	<div class="col-sm-6">	  		  							    
	    	<%= hidden_field_tag "service[user_ids][]", nil %>
		    <% User.all.with_role(:staff).each do |staff| %>
      			<%= check_box_tag "service[user_ids][]", staff.id, @service.user_ids.include?(staff.id), id: dom_id(staff) %>
      			<%= label_tag dom_id(staff), staff.display_name %><br>
    		<% end %>    	
	    </div>
	</div>				
	<div class="form-group">
		<label class="col-sm-2 control-label"></label>								
	 	<div class="col-md-10" style="margin-top:10px; padding-top:10px;">								
			<%= f.submit :class => 'btn btn-success' %> or <%= link_to 'Cancel', admin_services_path %>	
		</div>
	</div>	
	
<% end %>