<%- title "Calendo | " + current_account.name + " - Services"%>
<div id="workspace" class="workspace">
	<div class="container">
		<div class="sheet">
			<div id="alerts"></div>
			<title>Services</title>
			<div class="new-entity">
				<a  id="btnNewService" href="#"><i class="icon-box-icon fa fa-plus"></i><span>New Service</span></a>
			</div>
			
			<div id="all_services">					
				<section class="entities">
					<header>
						<h2 style="margin-top:0px;">Services</h2>
					</header>
					<table id="service-list" class="table table-hover sorted_table">							  
						  <tbody>
						  	<% @services.each do |service| %>
				        		<tr data-service-id="111">
								  <td width="35"><i class="fa fa-sort" style="padding-left:10px; cursor:move; "></i></td>								  
								  <td><a href="service-111.html" class="lnk-customer"><Deep Tissue Massage><%= link_to service.name, [:admin, service] %></a></td>
								  <td width="150">Online booking</td>
								  <td width="100"><%= service.duration.to_s %> mins</td>
								  <td width="100"><span style="float:right;"><%= number_to_currency(service.price, precision: 2) %></span> </td>
								</tr>
			      			<% end %>
							<tr data-service-id="111">
							  <td width="35"><i class="fa fa-sort" style="padding-left:10px; cursor:move; "></i></td>								  
							  <td><a href="service-111.html" class="lnk-customer">Deep Tissue Massage</a></td>
							  <td width="150">Online booking</td>
							  <td width="100">45 mins</td>
							  <td width="100"><span style="float:right;">$50</span> </td>
							</tr>
							<tr data-service-id="222">
							  <td width="35"><i class="fa fa-sort" style="padding-left:10px; cursor:move; "></i></td>								  
							  <td><a href="#" class="lnk-customer">Hot Stone Massage</a></td>
							  <td width="150">Online booking</td>
							  <td width="100">60 mins</td>
							  <td width="100"><span style="float:right;">$90</span> </td>
							</tr>
							<tr data-service-id="333">
							  <td width="35"><i class="fa fa-sort" style="padding-left:10px; cursor:move; "></i></td>								  
							  <td><a href="#" class="lnk-customer">Swedish Massage</a></td>
							  <td width="150">Staff only</td>
							  <td width="100">60 mins</td>
							  <td width="100"><span style="float:right;">$120</span> </td>
							</tr>
						  </tbody>
					</table>
				</section>
			</div>
		</div>	
	</div>
</div>

<!-- Modal New Customer -->
<div class="modal fade" id="newService" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<%= form_for [:admin, @service], :html => {:class => "form-horizontal", :role=>"form", :id => "create_service"} do |f| %>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 class="modal-title" id="myModalLabel">Create new service</h3>
		</div>
		<div class="modal-body">
			<div id="model-error"></div>
			<div class="form-group">
			  	<%= f.label :name, :class=>"col-sm-2 control-label" %>
			  	<div class="col-sm-10">			    
			    	<%= f.text_field :name,  :class=>'form-control', :placeholder=>"New service name" %>
			    </div>
			</div>  
			<div class="form-group">
			  	<%= f.label :description, :class=>"col-sm-2 control-label" %>
			  	<div class="col-sm-10">			    
			    	<%= f.text_area :description,  :class=>'form-control', :rows=>"3", :placeholder=>"Description" %>
			    </div>
			</div> 			
							
			<div class="form-group">
				<label class="col-sm-2 control-label">Status</label>
				<div class="col-sm-10">
					<div class="radio-inline">
						  <label>
							<input type="radio" name="statusRadioGroup" id="optionsRadios1" value="option1" checked>
							Active
						  </label>
						</div>
						<div class="radio-inline">
						  <label>
							<input type="radio" name="statusRadioGroup" id="optionsRadios2" value="option2">
							Inactive (cannot be booked)
						  </label>
						</div>
				</div>
			</div>
			<div class="form-group">
			  	<%= f.label :duration, :class=>"col-sm-2 control-label" %>
			  	<div class="col-sm-3">			    
			    	<%= f.text_field :duration,  :class=>'form-control' %>
			    </div>
			</div> 
			<div class="form-group">
			  	<%= f.label :price, :class=>"col-sm-2 control-label" %>
			  	<div class="col-sm-3">			    
			    	<%= f.text_field :price,  :class=>'form-control' %>
			    </div>
			</div>				
			<div class="form-group">
				<label class="col-sm-2 control-label">Booking</label>
				<div class="col-sm-10">
					<div class="radio-inline">
						  <label>
							<input type="radio" name="bookingRadio" id="optionsRadios1" value="option1" checked>
							Online
						  </label>
						</div>
						<div class="radio-inline">
						  <label>
							<input type="radio" name="bookingRadio" id="optionsRadios2" value="option2">
							Staff only
						  </label>
						</div>
				</div>
			</div>
			<!--div class="form-group">
				<label class="col-sm-2 control-label">Staff</label>
				<div class="col-sm-10">
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox1" value="option1"> William Bossard
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox2" value="option2"> Erica Burcham
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" value="option3"> Sasha Newsham
					</label>
				</div>
			</div-->				
					
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<%= f.submit 'Create the service', :class => 'btn btn-success' %>				
		</div>
		<% end %>
	</div>
  </div>
</div>


<script type="text/javascript">
$( document ).ready(function() {	
	jQuery.ajaxSetup({ 
	  'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
	});
	
	jQuery.fn.submitWithAjax = function() {
	  this.submit(function() {
	    $.post(this.action, $(this).serialize(), null, "script");
	    return false;
	  })
	  return false;
	};
	
	$("#create_service").submitWithAjax();
	
	$('#btnNewService').click(function(){
		$('#newService').modal({
			backdrop: 'static'
		})
	});
	
});
</script>