<%- title "Calendo | " + current_account.name + " - Services"%>

<section>
	<header class="panel-body">
		<h3 style="margin-top:10px;"><%= current_account.name %> Services 
			<%= link_to new_admin_service_path(@service) do %>
				<span  class="entity-action-link"><i class="fa fa-plus"></i> Create a new service</span> 
			<% end %>
		</h3>						
	<header>
	<table id="service-list" class="table table-hover sorted_table">							  
		  <tbody>
		  	<% @services.each do |service| %>
        		<tr>
				  <td width="35"><i class="fa fa-sort" style="padding-left:10px; cursor:move; "></i></td>								  
				  <td><%= link_to service.name, [:admin, service] %></a></td>
				  <td width="150">Online booking</td>
				  <td width="100"><%= service.duration.to_s %> mins</td>
				  <td width="100"><span style="float:right;"><%= number_to_currency(service.price, precision: 2) %></span> </td>
				</tr>
  			<% end %>								
		  </tbody>
	</table>
</section>


<script type="text/javascript">
$( document ).ready(function() {	
	
});
</script>