<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta charset="utf-8">
	
	  <title><%= content_for?(:title) ? content_for(:title) : "Calendo | Online Appointment Software" %></title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "bootstrap.min", media: "all"%>
  <%= stylesheet_link_tag    "account", media: "all"%>
  <%= stylesheet_link_tag    "dhtmlxscheduler_flat", media: "all"%>
  <%= stylesheet_link_tag    "datepicker", media: "all"%>
  <%= stylesheet_link_tag    "bootstrap-timepicker.min", media: "all"%>
  <%= stylesheet_link_tag    "bootstrap-multiselect", media: "all"%>
  

  <%= javascript_include_tag "application", "bootstrap.min", "bootstrap-multiselect", "bootstrap-datepicker", "bootstrap-timepicker.min", "dhtmlxscheduler" ,"dhtmlxscheduler_limit", "dhtmlxscheduler_units", "jquery-ui.min"  %>
  <%= csrf_meta_tags %>
</head>
<style type="text/css" media="screen">

html, body{
		margin:0px;
		padding:0px;
		height:100%;
		overflow:hidden;
	}	

/* Important !!! */


	.dhx_scale_hour{ 
		line-height:normal;
	}
	
	.dhx_cal_event_cont_selected{
		background-color: #9cc1db;
		color: white;
	}
	.dhx_scale_hour_main {
		float: left;
		text-align: right;
		font-size: 16px;
		font-weight: bold;
	}
	.dhx_scale_hour_minute_cont {
		float: left;
		position: relative;
		text-align: right;
	}
	.dhx_scale_hour_minute_top, .dhx_scale_hour_minute_bottom {
		font-size: 10px;
		padding-right: 5px;
	}
	.dhx_scale_hour_sep {
		position: absolute;
		height: 1px;
		background-color: #8C929A;
		right: 0;
		top: 43px;
		width: 20px;
	}

	#custom-lightbox-bootstrap {
			position: absolute;
			top: 100px;
			left: 200px;
			z-index: 10001;
			display: none;			
			font-family: Tahoma;
			font-size: 10pt;
			width:700px;					
		}
		


		#custom-lightbox label {
			width: 200px;
		}
		
</style>
<body style="margin:0px;	padding:0px;	height:100%; /*mandatory*/	overflow:hidden;">	
	  <div class="modal-dialog"  id="custom-lightbox-bootstrap">
		<div class="modal-content">
		  <div class="modal-header" style="background-color:#3D454C; color:#FFFFFF; cursor:pointer;">
			<button type="button" class="close" data-dismiss="modal" id="close-lightbox" style="color:#FFFFFF;"><span aria-hidden="true" >&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="lightbox-title">Calendo | Book appointment</h4>
		  </div>
		  <div class="modal-body">
			<%= form_for [:admin, @appointment], :url => admin_appointments_path(@appointment), :html => {:class => "form-horizontal", :role=>"form"} do |f| %>
						
						<div id="lightbox-alert">							
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Customer</label>							
							<div class="row">
								<div class="col-sm-5">
									<%= f.collection_select :customer_profile_id, @customers, :id, :name, {:include_blank => false}, {:class=>'form-control'} %> 
								</div>
								<div class="col-sm-3">		
									<button type="button" class="btn btn-default">Create new customer</button>
								</div>	
							</div>								
						</div>
						
						<div class="form-group " >
							<label for="serviceName" class="col-sm-3 control-label">Service</label>
							<div class="col-sm-9">
								<%= select_tag '@appointment[service_ids][]', options_for_select(@services.map{ |c| [c.name, c.id, {'data-duration'=>c.duration, 'data-price'=>c.price}] }), {:class=>'form-control', :multiple => true} %>
								<!--select class="form-control" id="serviceName">									
									<option value="1">Deep Tissue Massage</option>
									<option value="2">Hot Stone Massage</option>
									<option value="3">Swedish Massage</option>
								</select-->
								<input type="hidden" id="appointment-duration" value="0">
								<input type="hidden" id="appointment-price" value="0.0">
							</div>
						</div>
						<div class="form-group">
							<label for="staffName" class="col-sm-3 control-label">Staff</label>
							<div class="col-sm-9">
								<%= f.collection_select :user_id, @employees, :id, :display_name, {:include_blank => false}, {:class=>'form-control'} %>			  
								
							</div>
							
						</div>
						<div class="form-group row">
							<label for="Duration" class="col-sm-3 control-label">Date & time</label>
							<div class="col-sm-4" style="width:200px;">
								<div class="input-group input-append date" id="appDate"  data-date-format="dd-mm-yyyy">										  
									<input id="txtDate" type="text" class="form-control span2"  readonly="">
									<span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
								</div>								
							</div>
							
							<div class="input-group col-md-4">
								<span>					
									<input type="text" class="form-control"  id="startTime" style="text-align:right;">
									<input type="hidden" id="startTimeHours">
									<input type="hidden" id="startTimeMinutes">
									<input type="hidden" id="startTimeMeridian">
								</span>	
			  					<span class="input-group-addon">to</span>
			  					<input type="text" class="form-control"  id="endTime" disabled="disabled">  					
							</div>						
						</div>					
						<div class="form-group">
							<label for="Price" class="col-sm-3 control-label">Price</label>
							<div class="col-sm-2">
								<input type="input" class="form-control" id="Price" readonly="" value="0.00">
							</div>
						</div>
						<div class="form-group">
							<label for="inputComment" class="col-sm-3 control-label">Note</label>
							<div class="col-sm-9">				  
								  <textarea  id="inputComment" class="form-control" rows="2">Ut nisi dolor, dignissim a aliquet quis, vulputate id dui. Proin ultrices ultrices ligula, dictum varius turpis faucibus non. Curabitur faucibus ultrices nunc, nec aliquet leo tempor cursus</textarea>											  
							</div>
						</div>
					
					<% end %>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" id="btn-close-lightbox">Cancel</button>
			<button id="btn-book-appointment" type="button" class="btn btn-success">Book the appointment</button>
		  </div>
		</div>
	  </div>




<div id="workspace" class="workspace" style="margin:0px;	padding:0px;	height:100%; /*mandatory*/	overflow:hidden;">
	<title>Calendo | Nova Studio - Schedule</title>
		<div class="container" style="margin:0px;	padding:0px;	height:100%; /*mandatory*/	overflow:hidden;">
			<div class="sheet" style="margin:10px;	padding:15px;	height:100%; /*mandatory*/	overflow:hidden;">
				<div id="calendar-wrapper" style="width:100%; height:100%; border: 1px solid #DEDEDE;">
			
					<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
						<div class="dhx_cal_navline">
							<div class="dhx_cal_prev_button">&nbsp;</div>
							<div class="dhx_cal_next_button">&nbsp;</div>
							<div class="dhx_cal_today_button"></div>
							<div class="dhx_cal_date"></div>
							<div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
							<div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>														
							<div class="dhx_cal_tab" name="unit_tab" style="right:280px;"></div>
							<div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
						</div>
						<div class="dhx_cal_header">
						</div>
						<div class="dhx_cal_data"
						</div>		
					</div>
					
				</div>	
				
				
			</div>
		</div>
</div>

<script type="text/javascript">
$(document).ready(function() {	
	$('#_appointment_service_ids_').multiselect({
		numberDisplayed: 2,
		buttonWidth: '100%',
		onChange: function(element, checked) {			
			var price = +parseFloat(Math.round($(element).attr('data-price') * 100) / 100);
			var duration = Number($(element).attr('data-duration'));
			if(checked)
			{					
				$('#Price').val((+parseFloat(Math.round($('#Price').val() * 100) / 100) + price).toFixed(2));
				$('#appointment-duration').val( Number($('#appointment-duration').val()) + duration);
			}
			else
			{
				$('#Price').val((+parseFloat(Math.round($('#Price').val() * 100) / 100) - price).toFixed(2));
				$('#appointment-duration').val( Number($('#appointment-duration').val()) - duration);
			}
			updateAppointmentInterval();
		}
	});
	
	function buildAlertForLightbox(errorType, errorMessage)
	{
		var htmlAlert = "";
		htmlAlert += '<div class="alert alert-danger alert-dismissible" role="alert" >';
		htmlAlert += '	  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
		htmlAlert += '	  <span id="lightbox-alert-text">';
		htmlAlert += errorMessage;
		htmlAlert += '	  </span>';
		htmlAlert += '</div>';
		
		return htmlAlert;
		
	}
	
	function formatTimeforPicker(inputDate)
	{
		var hours = inputDate.getHours();
		var minutes = inputDate.getMinutes();
		var ampm = hours <= 11 ? 'AM' : 'PM';
		if(hours>12){
			hours = hours-12; 
		}
		minutes = minutes < 10 ? '0'+minutes : minutes;
		var strTime = hours + ':' + minutes + ' ' + ampm;
		return strTime;
	}
	
	function updateAppointmentInterval()
	{	
		var selectedDate = $('#appDate').datepicker('getDate'); 
		if($('#startTimeHours').val()=="12"){
			selectedDate.setHours(12);
		}   
		else{	    	
    		selectedDate.setHours($('#startTimeMeridian').val()=='AM'? $('#startTimeHours').val() : (12 + +$('#startTimeHours').val()) );
    	}
    	selectedDate.setMinutes($('#startTimeMinutes').val());    	
    	    	
    	var eventEndDate = new Date(selectedDate.getTime() + +$('#appointment-duration').val()*60000);
    	  	
    	$('#endTime').val(formatTimeforPicker(eventEndDate));			
	}
	//Setting the current date
	var shortMonthNames =['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
	var currentDate = new Date();
	var datepickerEndDate = new Date();
	datepickerEndDate.setDate(currentDate.getDate()+182);
	var stringDate = currentDate.getDate() + '-' + shortMonthNames[currentDate.getMonth()] + '-' +   currentDate.getFullYear();
	$('#txtDate').val(stringDate);
	$('#appDate').attr('data-date', stringDate);
	$('#appDate').datepicker({
		format:'dd-M-yyyy',
		autoclose:true,
		todayHighlight: true,
		autoclose:true,
		allowEmpty:false,
		startDate : currentDate,
		endDate: datepickerEndDate
	});
	
	$('#startTime').timepicker({
         minuteStep: 15
     });
    
    $('#startTime').timepicker().on('changeTime.timepicker', function(e) {    	
    	$('#startTimeHours').val(e.time.hours);    	
    	$('#startTimeMinutes').val(e.time.minutes);
    	$('#startTimeMeridian').val(e.time.meridian);
    	updateAppointmentInterval();
  	});
    
	$('#btnCancelBooking').click(function(){
		$('#bookAppointment').css('display','none');
	});
	
	function init() {		
		var people = [];
		$('#appointment_user_id > option').each(function(){
			var person ={};
			person.key=this.value;
			person.label = this.text;
			people.push(person);
			
		});
			
		scheduler.config.multi_day = false;	
		scheduler.config.full_day = true;
		scheduler.config.server_utc = true;
		scheduler.config.time_step = 15;
		scheduler.config.first_hour = 9;
		scheduler.config.last_hour = 17;
		
		scheduler.locale.labels.unit_tab = "People"
		scheduler.config.details_on_create=true;				
		scheduler.config.details_on_dblclick=true;
		scheduler.config.xml_date = "%Y-%m-%d %H:%i"
		
		scheduler.config.separate_short_events = true;
		scheduler.config.hour_size_px = 88;
		
		
		scheduler.templates.hour_scale = function(date){
            var hour = date.getHours();
            var top = '00';
            var bottom = '30';
            if(hour==0)
                top = 'AM';
            if(hour==12)
                top = 'PM';
            hour =  ((date.getHours()+11)%12)+1;
            var html = '';
            var section_width = Math.floor(scheduler.xy.scale_width/2);
            var minute_height = Math.floor(scheduler.config.hour_size_px/4);
            html += "<div class='dhx_scale_hour_main' style='font-size:18px;width: "+section_width+"px; height:"+(minute_height*2)+"px;'>"+hour+"</div><div class='dhx_scale_hour_minute_cont' style='width: "+section_width+"px;'>";
            html += "<div class='dhx_scale_hour_minute_top' style='height:"+minute_height+"px; line-height:15px;'>"+top+"</div>";
            html += "<div class='dhx_scale_hour_minute_top' style='height:"+minute_height+"px; line-height:10px;'>15</div>";
            html += "<div class='dhx_scale_hour_minute_bottom' style='height:"+minute_height+"px; line-height:10px;'>30</div>";
            html += "<div class='dhx_scale_hour_minute_bottom' style='height:"+minute_height+"px; line-height:10px;'>45</div>";
            //html += "<div class='dhx_scale_hour_sep'></div></div>";
            return html;		
		};
					
		/*
		var step = 30;
		var format = scheduler.date.date_to_str("%H:%i");
		
		scheduler.config.hour_size_px=(60/step)*22;
		scheduler.templates.hour_scale = function(date){
			html="";
			for (var i=0; i<60/step; i++){
				html+="<div style='height:22px;line-height:22px;'>"+format(date)+"</div>";
				date = scheduler.date.add(date,step,"minute");
			}
			return html;
		}
		*/
		scheduler.createUnitsView("unit", "unit_id", people);
		
		scheduler.init('scheduler_here', new Date(), "unit");
		scheduler.load('<%= admin_appointments_path %>', 'json');
		
		var dp = new dataProcessor('<%= admin_appointment_crud_path %>');
	    dp.init(scheduler);
	    dp.setTransactionMode("POST",false);
	}
	
	init();
	console.log('Config: ' + scheduler.config.hour_size_px);
	
	

	scheduler.showLightbox = function(id) {
		
		$('#lightbox-alert').css('display', 'none');
		
		var ev = scheduler.getEvent(id);
		
		scheduler.startLightbox(id, $("#custom-lightbox-bootstrap")[0]);
		if(ev.text=='New event'){
			$('#lightbox-title').text('Calendo | Book appointment');			
		} else {
			$('#lightbox-title').text('Calendo | Update appointment');
		}
		$('#appointment_user_id').val(ev.unit_id);
		$('#appDate').datepicker('update',ev.start_date);
		//reseting the Lightbox values
		$('option', $('#_appointment_service_ids_')).each(function(element) {
			$('#_appointment_service_ids_').multiselect('deselect', $(this).val(), true);
		});
		$('#Price').val('0.00');
		$('#appointment-duration').val('0');
		if(ev.service_ids != null)
		{
			for(var i =0; i<ev.service_ids.length; i++)
			{
				$('#_appointment_service_ids_').multiselect('select', ev.service_ids[i], true);
			}
		}	
		if(ev.customer_profile_id!=null)
		{
			$('#appointment_customer_profile_id').val(ev.customer_profile_id);
		}	
		var pickerTime = ev.start_date.getHours()>12 ? (ev.start_date.getHours() - 12) : ev.start_date.getHours();
		pickerTime += ':'; 
		pickerTime +=  ev.start_date.getMinutes() + (ev.start_date.getHours()>=12  ? ' PM' : ' AM');
		$('#startTime').timepicker('setTime', pickerTime)
	};

	function save_form() {
		var ev = scheduler.getEvent(scheduler.getState().lightbox_id);	
		ev.customer_id = $('#appointment_customer_profile_id').val();		
		ev.unit_id = $('#appointment_user_id').val();
		
		ev.service_ids = $('#_appointment_service_ids_').val();
		ev.text = $('#_appointment_service_ids_ :selected').text();
		ev.duration = $('#appointment-duration').val();
		ev.price = $('#Price').val();
				
		var eventStartDate = $('#appDate').datepicker('getDate');
    	eventStartDate.setHours($('#startTimeMeridian').val()=='AM'? $('#startTimeHours').val() : (12 + (+$('#startTimeHours').val() )) );
    	eventStartDate.setMinutes($('#startTimeMinutes').val());
    	
    	var eventEndDate = new Date(eventStartDate.getTime() + +$('#appointment-duration').val()*60000);
    	ev.start_date = eventStartDate;
    	ev.end_date = eventEndDate;
    	
    	$('#endTime').val(formatTimeforPicker(eventEndDate));
    		
		scheduler.endLightbox(true, $("#custom-lightbox-bootstrap")[0]);
	}
	function close_form() {
		scheduler.endLightbox(false, $("#custom-lightbox-bootstrap")[0]);
	}

	function delete_event() {
		var event_id = scheduler.getState().lightbox_id;
		scheduler.endLightbox(false, $("#custom-lightbox-bootstrap")[0]);
		scheduler.deleteEvent(event_id);
	}
	
	$('#btn-book-appointment').click(function(){
		if($('#_appointment_service_ids_').val() == null){
			$('#lightbox-alert').html(buildAlertForLightbox('danger','<strong>Error: </strong> You need to select at least one service for the appointment!'));
			$('#lightbox-alert').css('display','block');
		}
		else
		{
			save_form();
		}
	});
	
	$('#btn-close-lightbox').click(function(){		
		close_form();
	});
	
	$('#close-lightbox').click(function(){		
		close_form();
	});	
	
	$('#btn-delete').click(function(){
		delete_event();
	});	
	
	$('#custom-lightbox-bootstrap').draggable({
		handle: '.modal-header'
	});
});
</script>
</body>
</html>
