<style type="text/css">
.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 100px;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
</style>

<section style="padding:20px;">
	<div id="bookAppointment" class="row" style="border:1px solid #CDCDCD; margin-left:5px; margin-right:5px; padding:10px; background-color:#F8f8f8; display:none; margin-bottom:10px;">
		
		<%= form_for [:admin, @appointment], :url => admin_appointments_path(@appointment), :html => {:class => "form-horizontal", :role=>"form"} do |f| %>
		
		
			<div class="form-group " >
				<label for="serviceName" class="col-sm-2 control-label">Service</label>
				<div class="col-sm-6">
					
					<%= f.select :id, options_for_select(@services.map{ |c| [c.name, c.id, {'data-duration'=>c.duration}] }), {}, {:class=>'form-control'} %>
				</div>
			</div>
			<div class="form-group">
				<label for="staffName" class="col-sm-2 control-label">Staff</label>
				<div class="col-sm-3">
					<%= f.collection_select :user_id, @employees, :id, :display_name, {:include_blank => true}, {:class=>'form-control'} %>				  
					
				</div>
				
			</div>
			<div class="form-group row">
				<label for="Duration" class="col-sm-2 control-label">Date & time</label>
				<div class="col-sm-2">
					<div class="input-group input-append date" id="appDate"  data-date-format="dd-mm-yyyy">										  
						<input id="txtDate" type="text" class="form-control span2"  readonly="">
						<span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
					</div>								
				</div>
				<div class="input-group col-md-3">
					<input id="startTime" type="text" class="form-control timepicker-me" >
					<span class="input-group-addon">to</span>
					<input id="endTime" type="text" class="form-control disabled timepicker-me" disabled="disabled">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Customer</label>							
				<div class="row">
					<div class="col-sm-4">
						<%= f.collection_select :customer_profile_id, @employees, :id, :display_name, {:include_blank => true}, {:class=>'form-control'} %>
					</div>
					<div class="col-sm-2">		
						<button type="button" class="btn btn-default">Create new customer</button>
					</div>	
				</div>								
			</div>
			<div class="form-group">
				<label for="Price" class="col-sm-2 control-label">Price</label>
				<div class="col-sm-1">
					<input type="input" class="form-control" id="Price" value="50.00" readonly="">
				</div>
			</div>
			<div class="form-group">
				<label for="inputComment" class="col-sm-2 control-label">Note</label>
				<div class="col-sm-10">				  
					  <textarea  id="inputComment" class="form-control" rows="2">Ut nisi dolor, dignissim a aliquet quis, vulputate id dui. Proin ultrices ultrices ligula, dictum varius turpis faucibus non. Curabitur faucibus ultrices nunc, nec aliquet leo tempor cursus</textarea>											  
				</div>
			</div>
												
			<hr style="margin-top:10px;margin-bottom:10px;"/>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button id="btnCancelBooking" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="btnBookAppointment" type="button" class="btn btn-success">Book the appointment</button>
				</div>
			</div>				
		
		<% end %>
		
	</div>
	<div class="row" style="display:none;">					
		<div class="col-sm-1" >
			<label class="normal pull-right" style="margin-top:3px; margin-right:-5px; font-weight:bold;">Service:</label>
		</div>
		<div class="col-sm-3">
			<select class="form-control input-sm">
				<option></option>
			  <option>Deep Tissue Massage</option>
			  <option>Hot Stone Massage</option>
			  <option>Swedish Massage</option>
			</select>
		</div>
		<div class="col-sm-1" style="margin-left:25px;" >
			<label class="normal pull-right" style="margin-top:3px; margin-right:-5px; font-weight:bold;">Staff:</label>
		</div>
		<div class="col-sm-3">
			<select class="form-control input-sm">
				<option></option>
			  <option>William Bossard</option>
			  <option>Erica Burcham</option>
			  <option>Sasha Newsham</option>
			</select>
		</div>
	</div>
	<!--hr style="margin-top:10px;margin-bottom:10px;"/-->
	<div id='calendar'></div>
</section>

<%= javascript_include_tag "fullcalendar.core.1.6.4", "bootstrap-datepicker", "typeahead" %>

<script type="text/javascript">
$(document).ready(function() {	
	
	$('.timepicker-me').timepicker({
                minuteStep: 5
            });
    
	$('#btnCancelBooking').click(function(){
		$('#bookAppointment').css('display','none');
	});
	
	$('#btnBookAppointment').click(function(){
		var serviceName = $('#serviceName').val();
		
		//TODO: AJAX validation call on the server side on the appointment		
		
		var htmlSuccess='<div class="alert alert-success alert-dismissable">';
		htmlSuccess+=	'	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>';
		htmlSuccess+=	'	The appointment for the service ' + serviceName + ' was scuccessullly booked!';
		htmlSuccess+=	'</div>';
		$('#bookAppointment').css('display','none');
		$('#app-alerts').find('.alert').remove();
		$('#app-alerts').append(htmlSuccess);
		var eventStartDate = new Date();
		var eventEndDate = new Date(eventStartDate.getTime() + 60*60000);
		 
		console.log('Event date/time: ' + eventStartDate + ' TO: ' + eventEndDate);
		calendar.fullCalendar('renderEvent', {
                                title: serviceName,
                                start: eventStartDate,
                                end: eventEndDate,
                                allDay: false,
                                className: 'label-green'
                            }, true // make the event "stick"
                        );
	});
	
	
	
	$(window).resize(function() {
		$('#calendar').fullCalendar('option', 'height', ($(window).height() - 150));
	});
	
	var currentDate = new Date();
	var stringDate = currentDate.getDate() + '-' + (currentDate.getMonth()+1) + '-' + currentDate.getFullYear();
	$('#appDate').attr('data-date',stringDate);

	$('#appDate').datepicker(); 

		
	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y = date.getFullYear();		
	var $modal = $('#myModal');
	var form = '';

	
	var date = new Date();
			var d = date.getDate();
			var m = date.getMonth();
			var y = date.getFullYear();
	
	var calendar = $('#calendar').fullCalendar({
		buttonText: {
			prev: '<i class="fa fa-chevron-left"></i>',
			next: '<i class="fa fa-chevron-right"></i>'
		},
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		defaultView: 'agendaDay',
		editable: true,
		disableResizing: true,
		slotMinutes: 30,
		snapMinutes: 15,
		allDaySlot: false,			
		minTime:8,	
		maxTime: 18,
		height: ($(window).height() - 150),
		events: [{
			title: 'Meeting with Boss',
			start: new Date(y, m, 1),
			className: 'label-default'
			}, {
			title: 'Bootstrap Seminar',
			start: new Date(y, m, d - 5),
			end: new Date(y, m, d - 2),
			className: 'label-teal'
			}, {
			title: 'Lunch with Nicole',
			start: new Date(y, m, d - 3, 12, 0),
			className: 'label-green',
			allDay: false,
			customField: "Some value"
			}],
		editable: true,
		selectable: true,
		selectHelper: true,
		select: function (start, end, allDay) {
				var currentDate = start;
				var stringDate = currentDate.getDate() + '-' + (currentDate.getMonth()+1) + '-' + currentDate.getFullYear();
				$('#appDate').attr('data-date',stringDate);
				$('#txtDate').val(stringDate);
				$('#appDate').datepicker();
				$('#startTime').val(start.toLocaleTimeString());
				/*
                $modal.modal({
                    backdrop: 'static'
                });
                form = $("<form></form>");
                form.append("<div class='row'></div>");
                form.find(".row").append("<div class='col-md-6'><div class='form-group'><label class='control-label'>Select Service</label><input class='form-control' placeholder='Placeholder for service selection' type=text name='title'/></div></div>").append("<div class='col-md-6'><div class='form-group'><label class='control-label'>Category</label><select class='form-control' name='category'></select></div></div>").find("select[name='category']").append("<option value='label-default'>Work</option>").append("<option value='label-green'>Home</option>").append("<option value='label-purple'>Holidays</option>").append("<option value='label-orange'>Party</option>").append("<option value='label-yellow'>Birthday</option>").append("<option value='label-teal'>Generic</option>").append("<option value='label-beige'>To Do</option>");
                $modal.find('.remove-event').hide().end().find('.save-event').show().end().find('.modal-body').empty().prepend(form).end().find('.save-event').unbind('click').click(function () {
                    form.submit();
                });
                $modal.find('form').on('submit', function () {
                    title = form.find("input[name='title']").val();
                    $categoryClass = form.find("select[name='category'] option:checked").val();
                    if (title !== null) {
                        calendar.fullCalendar('renderEvent', {
                                title: title,
                                start: start,
                                end: end,
                                allDay: allDay,
                                className: $categoryClass
                            }, true // make the event "stick"
                        );
                    }
                    $modal.modal('hide');
                    return false;
                });
                calendar.fullCalendar('unselect');
				*/
				
				$('#bookAppointment').css('display','block');
            }
	});
});
</script>