<section style="padding:20px;">
	<div id="bookAppointment" class="row" style="border:1px solid #CDCDCD; margin-left:5px; margin-right:5px; padding:10px; background-color:#F8f8f8; display:none; margin-bottom:10px;">
		
		<%= form_for [:admin, @appointment], :url => admin_appointments_path(@appointment), :html => {:class => "form-horizontal", :role=>"form"} do |f| %>
		
		
			<div class="form-group " >
				<label for="serviceName" class="col-sm-2 control-label">Service</label>
				<div class="col-sm-6">
					<!--%= f.collection_select :duration, @services, :id, :name, {:include_blank => true}, {:class=>'form-control'} %-->
					
					<%= f.select :id, options_for_select(@services.map{ |c| [c.name, c.id, {'data-duration'=>c.duration, 'data-price'=>c.price}] }), {}, {:class=>'form-control'} %>
				</div>
			</div>
			<div class="form-group">
				<label for="staffName" class="col-sm-2 control-label">Staff</label>
				<div class="col-sm-3">
					<%= f.collection_select :user_id, @employees, :id, :display_name, {:include_blank => true}, {:class=>'form-control'} %>				  
					
				</div>
				
			</div>			
			<div class="form-group row">
				<label for="Duration" class="col-sm-2 control-label">Date & time</label>
				<div class="col-sm-2">
					<div class="input-group input-append date" id="appDate"  data-date-format="dd-mm-yyyy">										  
						<input id="txtDate" type="text" class="form-control span2"  readonly="">
						<span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
					</div>								
				</div>
				
				<div class="input-group col-md-3">
					<span>					
						<input type="text" class="form-control" value="8:00 AM"  id="startTime" style="text-align:right;">
						<input type="hidden" id="startTimeHours">
						<input type="hidden" id="startTimeMinutes">
						<input type="hidden" id="startTimeMeridian">
					</span>	
  					<span class="input-group-addon">to</span>
  					<input type="text" class="form-control" value="8:00 AM"  id="endTime" disabled="disabled">  					
				</div>
					
					
					<!--input id="startTime" type="text" class="form-control timepicker-me" >
					<span class="input-group-addon">to</span>
					<input id="endTime" type="text" class="form-control disabled timepicker-me" disabled="disabled"-->
				
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Customer</label>							
				<div class="row">
					<div class="col-sm-4">
						<%= f.collection_select :customer_profile_id, @employees, :id, :display_name, {:include_blank => true}, {:class=>'form-control'} %>
					</div>
					<div class="col-sm-2">		
						<button type="button" class="btn btn-default">Create new customer</button>
					</div>	
				</div>								
			</div>
			<div class="form-group">
				<label for="Price" class="col-sm-2 control-label">Price</label>
				<div class="col-sm-2">
					<input type="input" class="form-control" id="Price" value="" readonly="">
				</div>
			</div>
			<div class="form-group">
				<label for="inputComment" class="col-sm-2 control-label">Note</label>
				<div class="col-sm-10">				  
					  <textarea  id="inputComment" class="form-control" rows="2">Ut nisi dolor, dignissim a aliquet quis, vulputate id dui. Proin ultrices ultrices ligula, dictum varius turpis faucibus non. Curabitur faucibus ultrices nunc, nec aliquet leo tempor cursus</textarea>											  
				</div>
			</div>
												
			<hr style="margin-top:10px;margin-bottom:10px;"/>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button id="btnCancelBooking" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button id="btnBookAppointment" type="button" class="btn btn-success">Book the appointment</button>
				</div>
			</div>				
		
		<% end %>
		
	</div>
	<div class="row" style="display:none;">					
		<div class="col-sm-1" >
			<label class="normal pull-right" style="margin-top:3px; margin-right:-5px; font-weight:bold;">Service:</label>
		</div>
		<div class="col-sm-3">
			<select class="form-control input-sm">
				<option></option>
			  <option>Deep Tissue Massage</option>
			  <option>Hot Stone Massage</option>
			  <option>Swedish Massage</option>
			</select>
		</div>
		<div class="col-sm-1" style="margin-left:25px;" >
			<label class="normal pull-right" style="margin-top:3px; margin-right:-5px; font-weight:bold;">Staff:</label>
		</div>
		<div class="col-sm-3">
			<select class="form-control input-sm">
				<option></option>
			  <option>William Bossard</option>
			  <option>Erica Burcham</option>
			  <option>Sasha Newsham</option>
			</select>
		</div>
	</div>
	<!--hr style="margin-top:10px;margin-bottom:10px;"/-->
	<div id="calendar-wrapper" style="width:100%; height:100%; border: 1px solid #DEDEDE;">
					
					
		<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
			<div class="dhx_cal_navline">
				<div class="dhx_cal_prev_button">&nbsp;</div>
				<div class="dhx_cal_next_button">&nbsp;</div>
				<div class="dhx_cal_today_button"></div>
				<div class="dhx_cal_date"></div>
				<div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
				<div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>							
				<div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
			</div>
			<div class="dhx_cal_header">
			</div>
			<div class="dhx_cal_data">
			</div>		
		</div>
	</div>
</section>

<%= javascript_include_tag "dhtmlxscheduler", "dhtmlxscheduler_limit", "dhtmlxscheduler_units",  "bootstrap-datepicker", "typeahead" %>

<script type="text/javascript">
$(document).ready(function() {	
	
	function formatTimeforPicker(inputDate)
	{
		var hours = inputDate.getHours();
		var minutes = inputDate.getMinutes();
		var ampm = hours >= 12 ? 'PM' : 'AM';
		hours = hours % 12;
		hours = hours ? hours : 12; // the hour '0' should be '12'
		minutes = minutes < 10 ? '0'+minutes : minutes;
		var strTime = hours + ':' + minutes + ' ' + ampm;
		return strTime;
	}
	
	function updatePriceAndDuration()
	{
		//price
		$('#Price').val( parseFloat(Math.round($("#appointment_id option:selected").attr('data-price') * 100) / 100).toFixed(2));
		
		//duration		
		var currentDate = new Date($('#txtDate').val());    	    	
    	currentDate.setHours($('#startTimeMeridian').val()=='AM'? $('#startTimeHours').val() : (12 + +$('#startTimeHours').val()) );
    	currentDate.setMinutes($('#startTimeMinutes').val());    	
    	currentDate = new Date(currentDate.getTime() + $("#appointment_id option:selected").attr('data-duration')*60000);    	
    	$('#endTime').val(formatTimeforPicker(currentDate));			
	}
		
	$('#startTime').timepicker({
         minuteStep: 5
     });
    
    $('#startTime').timepicker().on('changeTime.timepicker', function(e) {    	
    	$('#startTimeHours').val(e.time.hours);
    	$('#startTimeMinutes').val(e.time.minutes);
    	$('#startTimeMeridian').val(e.time.meridian);
    	updatePriceAndDuration();
  	});
    
    //On change update price and time
    
    $('#appointment_id').change(function(){
    	updatePriceAndDuration();    	
    });
    
	$('#btnCancelBooking').click(function(){
		$('#bookAppointment').css('display','none');
	});
	
	$('#btnBookAppointment').click(function(){
		var serviceName = $('#serviceName').val();
		
		//TODO: AJAX validation call on the server side on the appointment		
		
		var htmlSuccess='<div class="alert alert-success alert-dismissable">';
		htmlSuccess+=	'	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>';
		htmlSuccess+=	'	The appointment for the service ' + serviceName + ' was scuccessullly booked!';
		htmlSuccess+=	'</div>';
		$('#bookAppointment').css('display','none');
		$('#app-alerts').find('.alert').remove();
		$('#app-alerts').append(htmlSuccess);
		var eventStartDate = new Date();
		var eventEndDate = new Date(eventStartDate.getTime() + 60*60000);
		 
		console.log('Event date/time: ' + eventStartDate + ' TO: ' + eventEndDate);
		calendar.fullCalendar('renderEvent', {
                                title: serviceName,
                                start: eventStartDate,
                                end: eventEndDate,
                                allDay: false,
                                className: 'label-green'
                            }, true // make the event "stick"
                        );
	});
	

	function init() {
	scheduler.config.multi_day = false;	

	scheduler.config.full_day = true;
	scheduler.config.server_utc = true;

	scheduler.config.xml_date = "%Y-%m-%d %H:%i";
	scheduler.init('scheduler_here', new Date(), "month");
	
	
	//var dp = new dataProcessor("/events/crud");
    //dp.init(scheduler);
    //dp.setTransactionMode("POST",false);

}

init();


});
</script>