<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta charset="utf-8">
	
	  <title><%= content_for?(:title) ? content_for(:title) : "Calendo | Online Appointment Software" %></title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "bootstrap.min", media: "all"%>
  <%= stylesheet_link_tag    "account", media: "all"%>
  <%= stylesheet_link_tag    "dhtmlxscheduler_flat", media: "all"%>
  <%= stylesheet_link_tag    "datepicker", media: "all"%>
  <%= stylesheet_link_tag    "bootstrap-timepicker.min", media: "all"%>
  

  <%= javascript_include_tag "application", "bootstrap.min", "bootstrap-datepicker", "bootstrap-timepicker.min", "dhtmlxscheduler" ,"dhtmlxscheduler_limit", "dhtmlxscheduler_units", "jquery-ui.min"  %>
  <%= csrf_meta_tags %>
</head>
<style type="text/css" media="screen">

html, body{
		margin:0px;
		padding:0px;
		height:100%;
		overflow:hidden;
	}	

/* Important !!! */


	.dhx_scale_hour{ 
		line-height:normal;
	}
.dhx_cal_event_line.custom, .dhx_cal_event.custom div{
		background-color:#fd7;
		border-color:#da6;
		color:#444;
	}

	.dhx_cal_event_cont_selected{
		background-color: #9cc1db;
		color: white;
	}
	.dhx_scale_hour_main {
		float: left;
		text-align: right;
		font-size: 16px;
		font-weight: bold;
	}
	.dhx_scale_hour_minute_cont {
		float: left;
		position: relative;
		text-align: right;
	}
	.dhx_scale_hour_minute_top, .dhx_scale_hour_minute_bottom {
		font-size: 10px;
		padding-right: 5px;
	}
	.dhx_scale_hour_sep {
		position: absolute;
		height: 1px;
		background-color: #8C929A;
		right: 0;
		top: 20px;
		width: 20px;
	}
	#custom-lightbox-bootstrap {
			position: absolute;
			top: 100px;
			left: 200px;
			z-index: 10001;
			display: none;			
			font-family: Tahoma;
			font-size: 10pt;
			width:700px;					
		}
		


		#custom-lightbox label {
			width: 200px;
		}
		
</style>
<body style="margin:0px;	padding:0px;	height:100%; /*mandatory*/	overflow:hidden;">	
	  <div class="modal-dialog"  id="custom-lightbox-bootstrap">
		<div class="modal-content">
		  <div class="modal-header" style="background-color:#3D454C; color:#FFFFFF; cursor:pointer;">
			<button type="button" class="close" data-dismiss="modal" id="close-lightbox" style="color:#FFFFFF;"><span aria-hidden="true" >&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="lightbox-title">Calendo | Book appointment</h4>
		  </div>
		  <div class="modal-body">
			<%= form_for [:admin, @appointment], :url => admin_appointments_path(@appointment), :html => {:class => "form-horizontal", :role=>"form"} do |f| %>
						<div class="form-group " >
							<label for="serviceName" class="col-sm-3 control-label">Service</label>
							<div class="col-sm-9">
								<%= select_tag '@appointment[service_ids][]', options_for_select(@services.map{ |c| [c.name, c.id, {'data-duration'=>c.duration, 'data-price'=>c.price}] }), {:class=>'form-control'} %>
								<!--select class="form-control" id="serviceName">									
									<option value="1">Deep Tissue Massage</option>
									<option value="2">Hot Stone Massage</option>
									<option value="3">Swedish Massage</option>
								</select-->
							</div>
						</div>
						<div class="form-group">
							<label for="staffName" class="col-sm-3 control-label">Staff</label>
							<div class="col-sm-9">
								<%= f.collection_select :user_id, @employees, :id, :display_name, {:include_blank => false}, {:class=>'form-control'} %>			  
								
							</div>
							
						</div>
						<div class="form-group row">
							<label for="Duration" class="col-sm-3 control-label">Date & time</label>
							<div class="col-sm-4" style="width:200px;">
								<div class="input-group input-append date" id="appDate"  data-date-format="dd-mm-yyyy">										  
									<input id="txtDate" type="text" class="form-control span2"  readonly="">
									<span class="input-group-addon add-on"><i class="fa fa-calendar"></i></span>
								</div>								
							</div>
							
							<div class="input-group col-md-4">
								<span>					
									<input type="text" class="form-control" value="8:00 AM"  id="startTime" style="text-align:right;">
									<input type="hidden" id="startTimeHours">
									<input type="hidden" id="startTimeMinutes">
									<input type="hidden" id="startTimeMeridian">
								</span>	
			  					<span class="input-group-addon">to</span>
			  					<input type="text" class="form-control" value="8:00 AM"  id="endTime" disabled="disabled">  					
							</div>
								
								
								<!--input id="startTime" type="text" class="form-control timepicker-me" >
								<span class="input-group-addon">to</span>
								<input id="endTime" type="text" class="form-control disabled timepicker-me" disabled="disabled"-->
							
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label">Customer</label>							
							<div class="row">
								<div class="col-sm-5">
									<input type="text" class="form-control" id="txtCustomer" placeholder="Type to search..."> 
								</div>
								<div class="col-sm-3">		
									<button type="button" class="btn btn-default">Create new customer</button>
								</div>	
							</div>								
						</div>
						<div class="form-group">
							<label for="Price" class="col-sm-3 control-label">Price</label>
							<div class="col-sm-2">
								<input type="input" class="form-control" id="Price" value="50.00" readonly="">
							</div>
						</div>
						<div class="form-group">
							<label for="inputComment" class="col-sm-3 control-label">Note</label>
							<div class="col-sm-9">				  
								  <textarea  id="inputComment" class="form-control" rows="2">Ut nisi dolor, dignissim a aliquet quis, vulputate id dui. Proin ultrices ultrices ligula, dictum varius turpis faucibus non. Curabitur faucibus ultrices nunc, nec aliquet leo tempor cursus</textarea>											  
							</div>
						</div>
					
					<% end %>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" id="btn-close-lightbox">Cancel</button>
			<button id="btn-book-appointment" type="button" class="btn btn-success">Book the appointment</button>
		  </div>
		</div>
	  </div>




<div id="workspace" class="workspace" style="margin:0px;	padding:0px;	height:100%; /*mandatory*/	overflow:hidden;">
	<title>Calendo | Nova Studio - Schedule</title>
		<div class="container" style="margin:0px;	padding:0px;	height:100%; /*mandatory*/	overflow:hidden;">
	

			<div class="sheet" style="margin:10px;	padding:15px;	height:100%; /*mandatory*/	overflow:hidden;">
				
				<div id="calendar-wrapper" style="width:100%; height:100%; border: 1px solid #DEDEDE;">
					
					<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
						<div class="dhx_cal_navline">
							<div class="dhx_cal_prev_button">&nbsp;</div>
							<div class="dhx_cal_next_button">&nbsp;</div>
							<div class="dhx_cal_today_button"></div>
							<div class="dhx_cal_date"></div>
							<div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
							<div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>														
							<div class="dhx_cal_tab" name="unit_tab" style="right:280px;"></div>
							<div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
						</div>
						<div class="dhx_cal_header">
						</div>
						<div class="dhx_cal_data"
						</div>		
					</div>
					
				</div>	
				
				
			</div>
		</div>
</div>

<script type="text/javascript">
$(document).ready(function() {	
	
	function formatTimeforPicker(inputDate)
	{
		var hours = inputDate.getHours();
		var minutes = inputDate.getMinutes();
		var ampm = hours >= 12 ? 'PM' : 'AM';
		hours = hours % 12;
		hours = hours ? hours : 12; // the hour '0' should be '12'
		minutes = minutes < 10 ? '0'+minutes : minutes;
		var strTime = hours + ':' + minutes + ' ' + ampm;
		return strTime;
	}
	
	function updatePriceAndDuration()
	{
		console.log("updatePriceAndDuration");
		//price
		$('#Price').val( parseFloat(Math.round($("#_appointment_service_ids_ option:selected").attr('data-price') * 100) / 100).toFixed(2));
		
		//duration		
		var currentDate = $('#appDate').datepicker('getDate');    	    	
    	currentDate.setHours($('#startTimeMeridian').val()=='AM'? $('#startTimeHours').val() : (12 + +$('#startTimeHours').val()) );
    	currentDate.setMinutes($('#startTimeMinutes').val());    	
    	console.log('Selected service duration: ' + $("#_appointment_service_ids_ option:selected").attr('data-duration')*60000);
    	console.dir(currentDate);
    	console.log('Current date: ' + currentDate.getTime());
    	console.log('Event End date: ' + currentDate.getTime() + +$("#_appointment_service_ids_ option:selected").attr('data-duration')*60000);
    	var eventEndDate = new Date(currentDate.getTime() + +$("#_appointment_service_ids_ option:selected").attr('data-duration')*60000);
    	console.dir(eventEndDate);    	
    	$('#endTime').val(formatTimeforPicker(eventEndDate));			
	}
	//Setting the current date
	var shortMonthNames =['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
	var currentDate = new Date();
	var datepickerEndDate = new Date();
	datepickerEndDate.setDate(currentDate.getDate()+182);
	var stringDate = currentDate.getDate() + '-' + shortMonthNames[currentDate.getMonth()] + '-' +   currentDate.getFullYear();
	$('#txtDate').val(stringDate);
	$('#appDate').attr('data-date', stringDate);
	$('#appDate').datepicker({
		format:'dd-M-yyyy',
		autoclose:true,
		todayHighlight: true,
		autoclose:true,
		allowEmpty:false,
		startDate : currentDate,
		endDate: datepickerEndDate
	});
	
	
		
	$('#startTime').timepicker({
         minuteStep: 5
     });
    
    $('#startTime').timepicker().on('changeTime.timepicker', function(e) {    	
    	$('#startTimeHours').val(e.time.hours);
    	$('#startTimeMinutes').val(e.time.minutes);
    	$('#startTimeMeridian').val(e.time.meridian);
    	updatePriceAndDuration();
  	});
    
    //On change update price and time
    
    $('#_appointment_service_ids_').change(function(){
    	updatePriceAndDuration();    	
    });
    
	$('#btnCancelBooking').click(function(){
		$('#bookAppointment').css('display','none');
	});
	
	$('#btnBookAppointment').click(function(){
		var serviceName = $('#serviceName').val();
		
		//TODO: AJAX validation call on the server side on the appointment		
		
		var htmlSuccess='<div class="alert alert-success alert-dismissable">';
		htmlSuccess+=	'	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>';
		htmlSuccess+=	'	The appointment for the service ' + serviceName + ' was scuccessullly booked!';
		htmlSuccess+=	'</div>';
		$('#bookAppointment').css('display','none');
		$('#app-alerts').find('.alert').remove();
		$('#app-alerts').append(htmlSuccess);
		var eventStartDate = new Date();
		var eventEndDate = new Date(eventStartDate.getTime() + 60*60000);
		 
		console.log('Event date/time: ' + eventStartDate + ' TO: ' + eventEndDate);
		
	});
	

	function init() {
		
		var people = [];
		$('#appointment_user_id > option').each(function(){
			var person ={};
			person.key=this.value;
			person.label = this.text;
			people.push(person);
			
		});
		
			
		scheduler.config.multi_day = false;	
		scheduler.config.full_day = true;
		scheduler.config.server_utc = true;
		scheduler.config.time_step = 15;
		scheduler.config.first_hour = 8;
		scheduler.config.last_hour = 18;
		
		scheduler.locale.labels.unit_tab = "Persons"
		scheduler.config.details_on_create=true;				
		scheduler.config.details_on_dblclick=true;
		scheduler.config.xml_date = "%Y-%m-%d %H:%i";
		
		scheduler.createUnitsView("unit", "unit_id", people);
		
		scheduler.init('scheduler_here', new Date(), "unit");
		
		//var dp = new dataProcessor("/events/crud");
	    //dp.init(scheduler);
	    //dp.setTransactionMode("POST",false);
	}
	
	init();

	scheduler.showLightbox = function(id) {
		var ev = scheduler.getEvent(id);
		scheduler.startLightbox(id, $("#custom-lightbox-bootstrap")[0]);
		if(ev.text=='New event'){
			$('#lightbox-title').text('Calendo | Book appointment');
		} else {
			$('#lightbox-title').text('Calendo | ' + ev.text);
		}
		$('#appointment_user_id').val(ev.unit_id);
		$('#_appointment_service_ids_').val(ev.serviceID);
		
	};

	function save_form() {
		var ev = scheduler.getEvent(scheduler.getState().lightbox_id);			
		ev.staffID = $('#appointment_user_id').val();
		ev.unit_id = $('#appointment_user_id').val();
		ev.serviceID = $('#_appointment_service_ids_').val();
		ev.text = $('#_appointment_service_ids_ :selected').text();
			if(ev.serviceID==1)
			{
				ev.color = 'orange';
			} else 
			if(ev.serviceID==2)
			{
				ev.color = '#36BD14';
			} else if(ev.serviceID==3)
			{
				ev.color = '#FC5BD5';
			}
		
		scheduler.endLightbox(true, $("#custom-lightbox-bootstrap")[0]);
	}
	function close_form() {
		scheduler.endLightbox(false, $("#custom-lightbox-bootstrap")[0]);
	}

	function delete_event() {
		var event_id = scheduler.getState().lightbox_id;
		scheduler.endLightbox(false, $("#custom-lightbox-bootstrap")[0]);
		scheduler.deleteEvent(event_id);
	}
	
	$('#btn-book-appointment').click(function(){
		save_form();
	});
	
	$('#btn-close-lightbox').click(function(){		
		close_form();
	});
	
	$('#close-lightbox').click(function(){		
		close_form();
	});
	
	
	$('#btn-delete').click(function(){
		delete_event();
	});
	
	
	$('#custom-lightbox-bootstrap').draggable({
		handle: '.modal-header'
	});


});
</script>
</body>
</html>
