<%- title "Calendo | " + current_account.name + " - New customer"%>


<section>
	<header class="page_header">
		<h3 style="margin-top:10px;"><%= current_account.name %>: Add a new customer</h3>						
	</header>	
	<div class="section-body">
	<%= form_for [:admin, @customer], :url => admin_customers_path(@customer), :html => {:class => "form-horizontal", :role=>"form"} do |f| %>			
		<%= render 'form', :f => f %>	
		<div class="form-group">
			<label class="col-sm-2 control-label"></label>								
		 	<div class="col-md-10" style="margin-top:10px; padding-top:10px;">								
				<%= f.submit "Create customer", :class => 'btn btn-success' %> or <%= link_to 'Cancel', admin_customers_path %>		
			</div>
		</div>		
	<% end %>
	</div>
</section>
