<section class="panel">
	<header class="panel-body">
		<h2 style="margin-top:10px;"><%= @customer.user.display_name%> 
			<%= link_to edit_admin_customer_path(@customer) do %>
				<span  class="entity-action-link"><i class="fa fa-edit"></i> Edit this person</span> 
			<% end %>
		</h2>
		<div><span> <i class="fa fa-phone"></i> Phone: 604.111.3345 | <i class="fa fa-envelope-o"></i> Email: <%= @customer.user.email%></span></div>
		<hr style="margin-top:5px;"/>
	</header>
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-calendar"></i>	Upcoming appointments									
			</div>
			<div class="panel-body" style="padding: 0px;">
				<table class="table table-striped table-hover">
				  <tbody>
					<tr class="tr-appointment" style="cursor:pointer">
					  <td align="center"><div>Friday, Feb-20-2014</div><div style="color:#666666; font-weight:bold;">09:00 - 10:30</div></td>
					  <td><a href="#">Phisyotherapy - 90 minutes </a> (with <span>William Bossard</span>)</td>										  										  
					  <td><span class="label label-success">Confirmed</span></td>
					</tr>
					<tr class="tr-appointment" style="cursor:pointer">
					  <td align="center"><div>Tueday, Mar-22-2014</div><div style="color:#666666; font-weight:bold;">11:00 - 11:30</div></td>
					  <td><a href="#">Deep Tissue Massage </a> (with Erica Burcham)</td>
					  <td><span class="label label-warning">Not confirmed</span></td>
					</tr>
					<tr class="tr-appointment" style="cursor:pointer">
					  <td align="center"><div>Monday, Mar-27-2014</div><div style="color:#666666; font-weight:bold;">13:00 - 13:30</div></td>
					  <td><a href="#">Hot Stone Massage </a> (with Sasha Newsham)</td>
					  <td><span class="label label-warning">Not confirmed</span></td>
					</tr>
					
				  </tbody>
				</table>


			</div>
		</div>
		
		<section>	
			<%= form_for [:admin, @comment] , :html => {:class => "form-horizontal", :role=>"form", :id => "create_comment"} do |f|%>
				<%= f.hidden_field :customer_profile_id, :value => @customer.id %>			
			  <div class="form-group" style="margin:0 !important;padding-bottom:15px;">
				<label for="customerNote">Add a comment about <%= @customer.user.display_name%>:</label>
				<%= f.text_area :content,  :class=>'form-control', :rows=>"3", :placeholder=>"New note" %>
													
			  </div>
			  <div class="form-group" style="margin:0 !important;">
			  	<%= f.submit "Add this comment", :class => 'btn btn-success pull-right' %> 
			 </div>
			<%end%>
		</section>
	
</section>

<script type="text/javascript">
jQuery.ajaxSetup({ 
  'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
})

$(document).ready(function() {
  	
  	$("#create_comment").submit(function(e) {
  		if ($('#comment_content').val().trim() ==''){
  			console.log('submit code executed');
  			e.preventDefault();
        	return false;
	  	}
	  	else
	  	{
	  		$.post($(this).attr("action"), $(this).serialize(), null, "script");
	 		return false;
	 	}	
  	});
});
	
</script>