								
	<% if @user.errors.any? %>
		<div id="error_explanation" class="alert alert-danger">
			<h4 style="margin-bottom:0px;"><%= pluralize(@user.errors.count, "error") %> prohibited the staff member record to be saved</h4>
		</div>
	<% end %>
	<div class="form-group">									
	  	<%= f.label :display_name, :class=>"col-sm-2 control-label" %>								  	
	  	<div class="col-sm-6">			    
	    	<%= f.text_field :display_name,  :class=>'form-control', :placeholder=>"Display name" %>
	    	<% if @user.errors[:display_name].present? %>
				<span class="help-block"><%=:display_name.to_s.humanize  + ' ' +  @user.errors[:display_name].join(" and ")%></span>
			<% end %> 
	    </div>
	</div>
	
	<div class="form-group">									
	  	<%= f.label :email, :class=>"col-sm-2 control-label" %>								  	
	  	<div class="col-sm-6">	  		  							    
	    	<%= f.text_field :email,  :class=>'form-control', :placeholder=>"Email address" %>
				
	    	<% if @user.errors[:email].present? %>
				<span class="help-block"><%=:email.to_s.humanize  + ' ' +  @user.errors[:email].join(" and ")%></span>
			<% end %> 
	    </div>
	</div>
	<%= f.fields_for :employee_profile, @user.employee_profile do |employee_profile|%>
		<div class="form-group">									
		  	<%= employee_profile.label :biography, :class=>"col-sm-2 control-label" %>								  	
		  	<div class="col-sm-6">	  		  							    
		    	<%= employee_profile.text_area :biography,  :class=>'form-control', :rows=>"5", :placeholder=>"Biography" %>
		    </div>
		</div>
	<% end %>
	<header style="border-bottom:1px solid #DDDDDD; margin-top:15px; margin-bottom:10px;"><h4>Services asigned</h4></header>
	<div class="form-group">									
	  	<label class="col-sm-2 control-label"></label>							  	
	  	<div class="col-sm-6">	  		  							    
	    	<%= hidden_field_tag "user[service_ids][]", nil %>
		    <% Service.all.each do |service| %>
      			<%= check_box_tag "user[service_ids][]", service.id, @user.service_ids.include?(service.id), id: dom_id(service) %>
      			<%= label_tag dom_id(service), service.name %><br>
    		<% end %>    	
	    </div>
	</div>
	
	<%= f.fields_for :employee_profile, @user.employee_profile do |employee_profile|%>
		<%= render 'employee_profile_fields', f: employee_profile %>
		
	<% end %>
	
<script type="text/javascript">
$(document).ready(function() { 
    $('.timepicker').timepicker({
                minuteStep: 15,
                showInputs: false,
                disableFocus: true
            });
  	$(".lnk-close").click(function(){
  		$(this).parent().parent().find('.is-closed').val('t');
  		$(this).parent().parent().find('[data-view="is-closed"]').css("display","block");
  		$(this).parent().parent().find('[data-view="is-open"]').css("display","none");
  	});
  	
  	  	$(".lnk-open").click(function(){
  		$(this).parent().parent().find('.is-closed').val('f');
  		$(this).parent().parent().find('[data-view="is-closed"]').css("display","none");
  		$(this).parent().parent().find('[data-view="is-open"]').css("display","block");
  	});
 });
</script>
