

<div id="workspace" class="workspace">
<section data-stellar-vertical-offset="-750" data-stellar-background-ratio="0.8" style="background-image: url(&quot;/assets/photodune-4043508-3d-modern-office-room-l.jpg&quot;); background-position: 0px -174.53px; min-height: 430px;" class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="center white"> WE WORK HARD FOR YOU</h2>							
			</div>
		</div>
		<div class="row animate-group">
			<div class="col-sm-4">
				<div data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" class="icon-box animate" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
					<i class="icon-box-icon fa fa-calendar"></i>
					<h3 class="icon-box-title">More appointments</h3>
					<div class="icon-box-content">
						<p>
							Calendo can help fill openings and reduce no shows. Your clients will love the convenience of online scheduling and appointment reminders.
							<br>
							<a href="#">
								Learn more
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" class="icon-box animate" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
					<i class="icon-box-icon fa fa-user"></i>
					<h3 class="icon-box-title">New clients</h3>
					<div class="icon-box-content">
						<p>
							Convert clicks into confirmed appointments and get prospective customers to schedule online before they leave your website. You never have to worry about missing a phone call.
							<br>
							<a href="#">
								Learn more
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div data-animation-options="{&quot;animation&quot;:&quot;flipInY&quot;, &quot;duration&quot;:&quot;600&quot;}" class="icon-box animate" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: flipInY;">
					<i class="icon-box-icon fa fa-repeat"></i>
					<h3 class="icon-box-title">Repeat business</h3>
					<div class="icon-box-content">
						<p>
							Calendo makes it easy to keep track of your clients, collect reviews and drive email marketing based on appointment history.
							<br>
							<a href="#">
								Learn more
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>	
	<div class="container" style="text-align:center;">
		<div class="row" style="padding:0px 20px 40px 20px; ">
			<div class="col-md-12">
				<h2 class="center" style="margin-bottom:30px;">Register for a 90-day trial. It's free. It's easy.</h2>				
			</div>
			<%= form_for @account, :html => {:class => "form-inline"} do |f| %>
			  <% if @account.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this topic from being saved:</h2>
			      <ul>
			      <% @account.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			
			  <div class="form-group" style="margin-right:10px;">			    
			    <%= f.text_field :name,  :class=>'form-control', :placeholder=>"Your company name" %>
			  </div>  
			  <div class="form-group" style="margin-right:10px;">			    
			    <%= f.text_field :user_name,  :class=>'form-control', :placeholder=>"Your name" %>
			  </div>  			  
			  <div class="form-group" style="margin-right:10px;">			    
			    <%= f.email_field :user_email,  :class=>'form-control', :placeholder=>"Your email" %>
			  </div>  			  
		
				<%= f.submit 'Create my account', :class => 'btn btn-success' %>
				
			<% end %>	
				
			<div class="col-md-12" style="margin-top:10px;">
				<span id="policy">By creating an account you agree with the Calendo's <a onclick="window.open(this.href); return false;" href="terms-of-service.html">Terms of Service</a> and <a onclick="window.open(this.href); return false;" href="privacy-policy.html">Privacy Policy</a></span>
			</div>
		</div>
	</div>	
</section>
<section class="wrapper wrapper-grey">
	<!-- start: GENERIC CONTENT CONTAINER -->
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img data-animation-options="{&quot;animation&quot;:&quot;tada&quot;, &quot;duration&quot;:&quot;600&quot;}" class="img-responsive animate-if-visible" src="/assets/iphoneIpad-495x400.png" style="opacity: 1; animation-fill-mode: both; animation-duration: 1.2s; animation-delay: 0s; animation-name: tada;">
				
			</div>
			<div class="col-sm-6">
				<h2>Ultra-Responsive Design</h2>
				<hr class="fade-right">
				<p>
					Lid est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets.
				</p>
				<p>
					Ut enim ad minim veniam, quis nostrud Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci amets uns.
				</p>
				<p>
					Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips ameet quasi architecto beatae vitae dicta sunt explicabo.
				</p>
				<hr class="fade-right">
				<a href="#" class="btn btn-default"><i class="fa fa-info"></i> Learn more...</a>
			</div>
		</div>
	</div>
	<!-- end: GENERIC CONTENT CONTAINER -->
</section>


<section>
	<!-- start: CORE BOXES CONTAINER -->
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="core-box">
					<div class="heading">
						<i class="fa fa-mobile circle-icon"></i>
						<h2>Responsive Design</h2>
					</div>
					<div class="content">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
					</div>
					<a href="#" class="view-more">
						View More <i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="core-box">
					<div class="heading">
						<i class="fa fa-paperclip  circle-icon"></i>
						<h2>Free updates &amp; support</h2>
					</div>
					<div class="content">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
					</div>
					<a href="#" class="view-more">
						View More <i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="core-box">
					<div class="heading">
						<i class="fa fa-gear circle-icon"></i>
						<h2>Incredibly Flexible</h2>
					</div>
					<div class="content">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
					</div>
					<a href="#" class="view-more">
						View More <i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end: CORE BOXES CONTAINER -->
</section>

<section class="wrapper wrapper-grey padding50">
	<!-- start: WORKS CONTAINER -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="center">Take a look at some of our work</h2>
				<hr>
				<p class="center">
					Nulla consequat massa quis enim. <strong>Donec pede justo</strong> fringilla vel, aliquet nec, vulputate eget, arcu.
					<br>
					In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
				</p>
				<div data-animation-interval="100" class="grid-container animate-group">
					<div class="col-md-3 col-sm-6">
						<div class="grid-item animate" style="opacity: 1; animation-fill-mode: both; animation-duration: 0.6s; animation-delay: 0s; animation-name: fadeIn;">
							<a href="#">
								<div class="grid-image">
									<img class="img-responsive" src="assets/image01.jpg">
									
								</div>
								<div class="grid-content">
									4 Columns Portfolio
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="grid-item animate" style="opacity: 1; animation-fill-mode: both; animation-duration: 0.6s; animation-delay: 0s; animation-name: fadeIn;">
							<a href="#">
								<div class="grid-image">
									<img class="img-responsive" src="assets/image02.jpg">
									
								</div>
								<div class="grid-content">
									3 Columns Portfolio
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="grid-item animate" style="opacity: 1; animation-fill-mode: both; animation-duration: 0.6s; animation-delay: 0s; animation-name: fadeIn;">
							<a href="#">
								<div class="grid-image">
									<img class="img-responsive" src="assets/image03.jpg">
									
								</div>
								<div class="grid-content">
									2 Columns Portfolio
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="grid-item animate" style="opacity: 1; animation-fill-mode: both; animation-duration: 0.6s; animation-delay: 0s; animation-name: fadeIn;">
							<a href="#">
								<div class="grid-image">
									<img class="img-responsive" src="assets/image04.jpg">
									
								</div>
								<div class="grid-content">
									Single Project
								</div>
							</a>
						</div>
					</div>
				</div>
				<hr>
				<p class="center">
					<a href="#">
						View the Full Portfolio here
					</a>
				</p>
			</div>
		</div>
	</div>
	<!-- end: WORKS CONTAINER -->
</section>
</div>