<div class="row">
		<%= f.hidden_field :day%>
		<%= f.label f.object.day.humanize, :class=>"col-sm-2 control-label" %>
		<%= f.hidden_field :is_closed, :class=>"is-closed" %>
		
		<% if f.object.is_closed %>
				<div class="col-sm-4" data-view="is-closed" style="display:block; padding-top:9px;">CLOSED</div>
				<div class="col-sm-2"  data-view="is-open" style="display:none; padding-top:5px;">  
			  		<%= f.select :open_time,  BusinessHour::HOURS_LIST.collect { |c| [ c, c ] } %>
			  	</div>	 
			  	<div class="col-sm-2"  data-view="is-open" style="display:none; padding-top:5px;">  
			  		<%= f.select :close_time, BusinessHour::HOURS_LIST.collect { |c| [ c, c ] } %>
			  	</div>	
			  	<div class="col-sm-2"  data-view="is-closed">
		  			<button type="button" class="btn btn-link lnk-open">Open this day</button>
			  	</div>
			  	<div class="col-sm-2" style="display:none;"  data-view="is-open">
		  			<button type="button" class="btn btn-link lnk-close">Close this day</button>
			  	</div>
		<% else %>
			<div class="col-sm-4" data-view="is-closed" style="display:none; padding-top:9px;">CLOSED</div>
				<div class="col-sm-2"  data-view="is-open" style="display:block; padding-top:5px;">  
			  		<%= f.select :open_time,  BusinessHour::HOURS_LIST.collect { |c| [ c, c ] } %>
			  	</div>	 
			  	<div class="col-sm-2"  data-view="is-open" style="display:block; padding-top:5px;">  
			  		<%= f.select :close_time, BusinessHour::HOURS_LIST.collect { |c| [ c, c ] } %>
			  	</div>	
			  	<div class="col-sm-2"  data-view="is-closed" style="display:none;" >
		  			<button type="button" class="btn btn-link lnk-open">Open this day</button>
			  	</div>
			  	<div class="col-sm-2"  data-view="is-open">
		  			<button type="button" class="btn btn-link lnk-close">Close this day</button>
			  	</div>		 
		 <% end %>		 
</div>    