<%- title "Calendo | " + current_account.name %>

<section style="padding:15px;">						
	<h3>Editing my account </h3>
	<hr style="margin-top:5px;"/>

<%= form_for [:admin, @account], :html => {:class => "form-horizontal", :role=>"form"} do |f| %>							
	<% if @account.errors.any? %>
		<div id="error_explanation" class="alert alert-danger">
			<h4 style="margin-bottom:0px;"><%= pluralize(@account.errors.count, "error") %> prohibited the account to be updated!</h4>
			<ul>
		      <% @account.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		    </ul>
		</div>
	<% end %>
	<div class="form-group">									
	  	<%= f.label :name, :class=>"col-sm-2 control-label" %>								  	
	  	<div class="col-sm-6">			    
	    	<%= f.text_field :name,  :class=>'form-control', :placeholder=>"New service name" %>
	    	<% if @account.errors[:name].present? %>
				<span class="help-block"><%=:name.to_s.humanize  + ' ' +  @account.errors[:name].join(", ")%></span>
			<% end %> 
	    </div>
	</div>
	
	<div class="form-group">									
	  	<%= f.label :subdomain, :class=>"col-sm-2 control-label" %>								  	
	  	<div class="col-sm-6">
	  		<div class="input-group">
  				<span class="input-group-addon">http://</span>			    
	    		<%= f.text_field :subdomain,  :class=>'form-control', :placeholder=>"subdomain" %>
			 	<span class="input-group-addon">.calendohq.com</span>
			</div>
	    		
	    	<% if @account.errors[:subdomain].present? %>
				<span class="help-block"><%=:subdomain.to_s.humanize  + ' ' +  @account.errors[:subdomain].join(", ")%></span>
			<% end %> 
	    </div>
	</div>

	<div class="form-group">	
	  	<%= f.label :time_zone, :class=>"col-sm-2 control-label" %>	
	  	<div class="col-sm-6">	    
	    	<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {default: "Pacific Time (US & Canada)"}, {:class=>"form-control"} %>
	    </div>
	</div>
	
	<div>
		<header style="border-bottom:1px solid #DDDDDD; margin-top:15px; margin-bottom:10px;"><h4>Business hours</h4>
		</header>	
		<%= f.fields_for :business_hours, f.object.business_hours.order(:id) do |builder| %>
			<%= render 'business_hour_fields', f: builder %>
   		<% end %>
	</div>
	
	<div>
		<header style="border-bottom:1px solid #DDDDDD; margin-top:15px; margin-bottom:10px;"><h4>Holidays</h4>
		</header>	
		<%= f.fields_for :holidays do |builder| %>
			<%= render 'holiday_fields', f: builder %>
   		<% end %>
	</div
		  			
	<div class="form-group">
		<label class="col-sm-2 control-label"></label>								
	 	<div class="col-md-10" style="margin-top:10px; padding-top:10px;">								
			<%= f.submit 'Update my account', :class => 'btn btn-success' %> or <%= link_to 'Cancel', admin_account_path %>	
		</div>
	</div>		
<% end %>
</section>

<script type="text/javascript">

$(document).ready(function() { 
    $('.timepicker').timepicker({
                minuteStep: 15,
                showInputs: false,
                disableFocus: true
            });
  	$(".lnk-close").click(function(){
  		$(this).parent().parent().find('.is-closed').val('t');
  		$(this).parent().parent().find('[data-view="is-closed"]').css("display","block");
  		$(this).parent().parent().find('[data-view="is-open"]').css("display","none");
  	});
  	
  	  	$(".lnk-open").click(function(){
  		$(this).parent().parent().find('.is-closed').val('f');
  		$(this).parent().parent().find('[data-view="is-closed"]').css("display","none");
  		$(this).parent().parent().find('[data-view="is-open"]').css("display","block");
  	});
 });
	
</script>