<%- title "Calendo | " + @account.name %>

<section style="padding:15px;">
	<header>
		<h3 style="margin-top:10px;">Account: <%= @account.name %> 
		<%= link_to admin_edit_account_path do %>
				<span class="entity-action-link"><i class="fa fa-edit"></i> Edit my account</span> 
			<% end %> 	 
		</h3>
		<hr style="margin-top:5px;"/>
	</header>
	<div class="bs-callout bs-callout-info">
								<h4>Basic settings</h4>
								<div class="row" style="border-bottom: 1px solid #EDEDED; margin-left:-5px; margin-right:5px;">
									<div class="col-sm-3" style="text-align:right;" >		
										<label class="normal">Company name:</label>
									</div>
									<div class="col-sm-9" >
										<label class="normal"><%= @account.name %></label>
									</div>
								</div>
								<div class="row" style="border-bottom: 1px solid #EDEDED; margin-left:-5px; margin-right:5px;">
									<div class="col-sm-3" style="text-align:right;" >		
										<label class="normal">Public link:</label>
									</div>
									<div class="col-sm-9" >
										<label class="normal"><%= link_to root_url(:subdomain => @account.subdomain)%></label>
									</div>
								</div>
								<div class="row" style="border-bottom: 1px solid #EDEDED; margin-left:-5px; margin-right:5px;">
									<div class="col-sm-3" style="text-align:right;" >		
										<label class="normal">Language:</label>
									</div>
									<div class="col-sm-9" >
										<label class="normal">English US</label>
									</div>
								</div>
								<div class="row" style="border-bottom: 1px solid #EDEDED; margin-left:-5px; margin-right:5px;">
									<div class="col-sm-3" style="text-align:right;" >		
										<label class="normal">Timezone:</label>
									</div>
									<div class="col-sm-9" >
										<label class="normal"><%= @account.time_zone %></label>
									</div>
								</div>
								<div class="row" style="border-bottom: 1px solid #EDEDED; margin-left:-5px; margin-right:5px;">
									<div class="col-sm-3" style="text-align:right;" >		
										<label class="normal">Description:</label>
									</div>
									<div class="col-sm-9" >
										<label class="normal">Ut nisi dolor, dignissim a aliquet quis, vulputate id dui. Proin ultrices ultrices ligula, dictum varius turpis faucibus non. Curabitur faucibus ultrices nunc, nec aliquet leo tempor cursus</label>
									</div>
								</div>
								
								

							</div>
							
							<div class="bs-callout bs-callout-warning">
								<h4>Business hours</h4>
								<% @account.business_hours.order(:id).each do |bh|%>
								<div class="row" style="border-bottom: 1px solid #EDEDED; margin-left:-5px; margin-right:5px;">
									<div class="col-sm-3" style="text-align:right;" >		
										<label class="normal"><%= bh.day.humanize %>:</label>
									</div>
									<div class="col-sm-9" >
										<% if bh.is_closed %>
											<label class="normal">CLOSED</label>
										<% else %>
											<label class="normal"><%= bh.open_time + " - " + bh.close_time%></label>
										<% end %>	
									</div>
								</div>
								<% end %>
								
							</div>
							<div class="bs-callout bs-callout-warning">
								<h4>Address</h4>
								<div class="row" style="border-bottom: 1px solid #EDEDED; margin-left:-5px; margin-right:5px;">
									<div class="col-sm-1" style="text-align:right;" >		
										<label class="normal"></label>
									</div>
									<div class="col-sm-11" >
										<label class="normal">123 Main St.</label>
									</div>
								</div>
								<div class="row" style="border-bottom: 1px solid #EDEDED; margin-left:-5px; margin-right:5px;">
									<div class="col-sm-1" style="text-align:right;" >		
										<label class="normal"></label>
									</div>
									<div class="col-sm-11" >
										<label class="normal">Vancouver, BC, V1V 1V1, Canada</label>
									</div>
								</div>
								
							</div>
</section>
